*{
    padding: 0;
    margin: 0;
}

:root{
    --border: 1px solid black
}

.spinner-border{
    position: fixed;
    top: 2rem;
    right: auto;
    left: auto;
    z-index: 1;
}

.center{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flexDown{
    flex-direction: column;
}


.card{
   width: 18rem;
   border-radius: 0;
   border: 1px solid white;
   box-shadow: 20px 20px 20px #e0dede,
                -3px -3px 20px #e0dede;
}


.bagButton{
    background-color: #000000e0;
    border-radius: 50%;
    position: fixed;
    bottom: 2.5rem;
    right: 1.5rem;
    padding: 1rem;
}

    .bagButton img{
        height: 2rem;
        width: 2rem;
    }

.second-layer{
    display: none;
}